<h3>Buscar por Región <small>{{ regionActiva | titlecase }} </small></h3>
<hr>

<h5>Seleccione la región</h5>

<!-- opcion 1 -->
<!-- [class.btn-primary]="region === regionActiva" -->

<!-- opcion 2 -->
<!-- [ngClass]="{
    'btn-primary': regionActiva === region,
    'btn-outline-primary': regionActiva !== region

 }" -->
 <div  class="animate__animated animate__fadeIn">
    <div class="row">
        <div class="col">
            <button *ngFor="let region of regiones" 
                    [class]="getClaseCSS(region) "

                    (click)="activarRegion(region)">
                {{region}}
            </button>
        </div>
    </div>

    <hr>
    <div *ngIf="hayError" class="alert alert-danger">
        No se encontraron resultados con el término {{termino}}
    </div>
    
        <div *ngIf="paises.length > 0" class="row">
            <div class="col">
            <app-pais-tabla [paises]="paises"></app-pais-tabla>
            </div>
        </div>

</div>